body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.attribution{
  text-align:center;
}
.attribution a{
  font-family:"Big Shoulders Display";
}

:root{
  --transparentWhite:hsla(0, 0%, 100%, 0.75) ;
  --orange:hsl(31,77%,52%);
  --darkCyan:hsl(184, 100%, 22%);
  --veryDarkCyan:hsl(179, 100%, 13%);
  --veryLightGrey:hsl(0,0%,95%);
}

.header{
  display:block;
  margin:15% 6%;
}

.content{
  display:block;
  height:fit-content;
}

.image{
  padding:40px 0 0 40px;
} 

#first{
  background-color:var(--orange);
  border-radius:10px 10px 0px 0px;
}

.content h1{
  font-size:45px;
  padding:0 40px;
  color:var(--veryLightGrey);
  font-family: 'Big Shoulders Display', cursive;
  text-transform:uppercase;
}

.content p{
  color:var(--transparentWhite);
  font-size:15px;
  padding:0 40px;
  line-height:30px;
  font-family: 'Lexend Deca', sans-serif;
}

.content .button{
  padding:0 30px;
}

#first button{
  color:var(--orange);
  transition:all 0.4s ease-in-out;
}

#first button:hover{
  background-color:transparent;
  color:var(--veryLightGrey);
  border:2px solid var(--veryLightGrey);
  cursor:pointer;
}

#second{
  background-color:var(--darkCyan);
}

#second button{
  color:var(--darkCyan);
  transition:all 0.4s ease-in-out;
}

#second button:hover{
  background-color:transparent;
  color:var(--veryLightGrey);
  border:2px solid var(--veryLightGrey);
  cursor:pointer;
}

#third{
  background-color:var(--veryDarkCyan);
  border-radius:0px 0px 10px 10px;
}

#third button{
  color:var(--veryDarkCyan);
  transition:all 0.4s ease-in-out;
}

#third button:hover{
  background-color:transparent;
  color:var(--veryLightGrey);
  border:2px solid var(--veryLightGrey);
  cursor:pointer;
}

.hover{
  padding:12px 25px;
  margin:30px 10px 40px 10px;
  font-size:15px;
  border:2px solid var(--veryLightGrey);
  border-radius:40px/40px;
  font-family: 'Lexend Deca', sans-serif;
  
}

@media (min-width:768px){
  body{
    display:block;
    margin: auto;
  }
 .header{
    display:flex;
    align-items:center;
    justify-content: center;
    
    margin: 15% 20%;
  }
  #first{
    border-radius:10px 0 0 10px;
  } 
  #third{
    border-radius:0 10px 10px 0;
  }
  .content{
   height:fit-content;
   overflow:hidden;
  }
}

@media(min-width:768px) and (max-width:1056px){
   .header{
        margin:5% 8%;
     }
}
